@import "../../assets/variables";

:host{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    min-width: $min-width;
    // width: 100vw;
    //height: 100vh;
    //padding: 2rem;
    outline: 1px solid $border-color;
    outline-offset: -1px;
}

.lane-toolbar{
    justify-content: flex-end;
    align-items: center;
    height: 1rem;
}
.drag-handle{
    flex-grow: 0;
    margin-right: 0.5rem;
}