@import "../../assets/variables";

:host{
    resize: horizontal;
    overflow-x: unset;
    overflow-y: visible;
    position: absolute;
    display: inline-block;
    //max-width: $max-lane-width;
    z-index: 10;
}

.lane-wrapper{
    // position: relative;
    display: flex;
    flex-direction: column;
    //width: 100%;
    //min-width: $min-width;
    //max-width: $max-lane-width;
    // width: 100vw;
    //height: 100vh;
    //padding: 2rem;
    outline: 1px solid $translucent-color;
    outline-offset: -1px;
}

.lane-toolbar{
    justify-content: flex-end;
    align-items: center;
    //height: 1rem;

    .small{
        white-space:nowrap;
        cursor: pointer;
    }
}
.drag-handle{
    flex-grow: 0;
}
.lane-title{
    color:$lane-title-color;
    font-size: $title-size;
    font-weight: bold;
}

.static-view{
    background-color: $static-background-color;
}