@import "../../assets/variables";

:host{
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    gap:0.25rem;
    // margin: 0 0.5rem
}
span{
    font-size: $small-font-size;
    &.cancel{
        color: $text-color;
    }
}
.priority:not(.active):not(:hover){
    color: $translucent-color!important;
}

