<div [class.open]="menuOpen" class="board-menu inline-flex column g-05 align-items-end justify-content-center">
  <div class="flex g-05 justify-content-center align-items-center">
    <label class="translucent">Board</label>
    <div contenteditable="true" [(ngModel)]="board.textContent" [board]="board" (ngModelChange)="publishChange()" (onTagsChange)="updateBoardTags($event)" class="board-label colored-title"></div>
    <span (click)="menuOpen = !menuOpen" [tooltip]="!menuOpen ? 'Open board menu' : ''" [position]="'bottom'" class="board-menu-tab pointer">
      <span *ngIf="!menuOpen">☰</span>
      <span *ngIf="menuOpen">×</span>
    </span>
  </div>

  <div [class.hidden]="!menuOpen" class="board-menu-content flex column">
    <label (click)="showActions = !showActions" class="half-translucent pointer"
      >Actions
      @if (showActions) {
        ▲
      } @else {
        ▼
      }
    </label>
    <div class="flex column g-05" [class.h-0]="!showActions">
      <label class="translucent m-t-05">Set layout:</label>
      <div class="flex g-025 align-items-center">
        <button class="layout l-{{ layout }}" *ngFor="let layout of getLayouts()" (click)="setLayout(layout)" [class.active]="board.layout === layout" position="top" [tooltip]="layout + ' layout'">{{ getLayoutSymbol(layout) }}</button>
      </div>
      <!--
      <label class="translucent m-t-05">Search:</label>

      <search></search>
-->
      <div class="flex g-025 align-items-center m-t-1">
        <!--<button class="show-board-gantt" [tooltip]="'Shows a Gantt chart for the whole board'" position="top" (click)="openGantt()">📊 Show board gantt..</button> -->
        <button (click)="addLane()" class="add-lane">➕ Add lane</button>
      </div>
    </div>
    <hr class="translucent m-t-1 m-b-1" />
    <label (click)="showDatesPreferences = !showDatesPreferences" class="half-translucent pointer"
      >Dates preferences
      @if (showDatesPreferences) {
        ▲
      } @else {
        ▼
      }
    </label>
    <div class="flex column g-05" [class.h-0]="!showDatesPreferences">
      <label class="translucent m-t-05">Locale</label>
      <div class="flex g-025 align-items-center">
        <input list="locales" name="locale" [value]="board.datesConfig.locale" (change)="setLocale($event)" />

        <datalist id="locales">
          <option *ngFor="let val of getLocales()" [value]="val">{{ getLocaleNiceName(val) }}</option>
        </datalist>
      </div>

      <label class="translucent m-t-05">Timezone</label>
      <div class="flex g-025 align-items-center">
        <input list="timezones" name="timezone" [value]="board.datesConfig.dateFormat.timeZone" (change)="setTimezone($event)" />

        <datalist id="timezones">
          <option *ngFor="let val of getTimezones()" [value]="val">{{ getTimezoneNiceName(val) }}</option>
        </datalist>
      </div>

      <label class="translucent m-t-05">Show timezone info</label>
      <ng-container [ngTemplateOutlet]="attribute" [ngTemplateOutletContext]="{ attribute: 'timeZoneName' }"></ng-container>

      <label class="translucent m-t-05">Use 12-hour time</label>
      <ng-container [ngTemplateOutlet]="attribute" [ngTemplateOutletContext]="{ attribute: 'hour12', skipNo: true }"></ng-container>

      <label class="translucent m-t-05">Show year</label>
      <ng-container [ngTemplateOutlet]="attribute" [ngTemplateOutletContext]="{ attribute: 'year' }"></ng-container>

      <label class="translucent m-t-05">Show month</label>
      <ng-container [ngTemplateOutlet]="attribute" [ngTemplateOutletContext]="{ attribute: 'month' }"></ng-container>

      <label class="translucent m-t-05">Show weekday</label>
      <ng-container [ngTemplateOutlet]="attribute" [ngTemplateOutletContext]="{ attribute: 'weekday' }"></ng-container>

      <label class="translucent m-t-05">Show day</label>
      <ng-container [ngTemplateOutlet]="attribute" [ngTemplateOutletContext]="{ attribute: 'day' }"></ng-container>

      <label class="translucent m-t-05">Show time</label>
      <ng-container [ngTemplateOutlet]="attribute" [ngTemplateOutletContext]="{ attribute: 'time' }"></ng-container>
    </div>
  </div>
</div>

<ng-template #attribute let-attribute="attribute" let-skipNo="skipNo">
  <div class="flex g-025 align-items-center">
    <button *ngFor="let val of getAvailablePropValues(attribute)" (click)="setFormatPropValue(attribute, val)" [class.active]="match(attribute, val)">{{ beautify(val) }}</button>
    <button *ngIf="!skipNo" (click)="setFormatPropValue(attribute, undefined)" [class.active]="match(attribute, undefined)">No</button>
  </div>
</ng-template>

<ng-template #gantt>
  <gantt [tasks]="getGanttTasks$() | async" [board]="board"></gantt>
</ng-template>
