@import "../../assets/variables";
@import "../../assets/mixins";

:host {
    &.absolute {
        height: 100%;
        right: $board-padding;
        top: $board-padding;
    }

}

.board-menu {
    top: $lane-padding-y;
    @include lane-style;

    &.open {
        z-index: 1010;
    }
}