<div class="charts flex">
  <div class="chart-container flex-child" style="position: relative; height: 10vh">
    <canvas id="pie"></canvas>
  </div>
  <div class="chart-container flex-child" style="position: relative; height: 10vh">
    <canvas id="pie2"></canvas>
  </div>
  <div class="chart-container flex-child" style="position: relative; height: 10vh">
    <canvas id="pie3"></canvas>
  </div>
  <div class="chart-container flex-child" style="position: relative; height: 10vh">
    <canvas id="pie"></canvas>
  </div>
  <div class="chart-container flex-child" style="position: relative; height: 10vh">
    <canvas id="pie2"></canvas>
  </div>
  <div class="chart-container flex-child" style="position: relative; height: 10vh">
    <canvas id="pie3"></canvas>
  </div>
</div>
