@use "sass:map";

@import "../../assets/variables";
@import "../../assets/mixins";

:host {
    display: flex
}

.charts-wrapper {
    @include lane-style($lane-padding);
    //margin: $board-padding;
    //margin-bottom: -0.5rem;
}

.charts {
    height: $board-charts-height;
    position: relative;
    min-width: 45rem;

    > :first-child {
        max-height: 40%
    }

    display: flex;
    flex-direction: column;

}