@import "../../assets/variables";


:host {
    min-width: calc($min-width / 2);
    //width: 100%;
    display: inline-block;
    --ngx-editor-background-color: $editor-active-background;
    flex-basis: 0;
    flex-grow: 1;
    // z-index: 15;
}

.child {
    opacity: 0.85;
}

.archive {
    color: $archive-color;
}

.task-wrapper {
    display: flex;
    align-items: center;

    --ngx-editor-text-color: $translucent-color;

    //border-left: 1px solid $translucent-color;
    &.editor-active {
        background-color: $editor-active-background;
    }

    &.selected {
        border-left: .15rem solid $text-color;
        padding-left: 0.25rem;
    }

    .task-toolbar {
        >* {
            opacity: 0;
        }

        >*.selected {
            opacity: 1;
        }
    }

    &:hover .task-toolbar * {
        opacity: 0.7;

        &.selected {
            opacity: 1;
        }
    }
}

.task-text-content:not(.placeholder) {
    padding: $task-y-padding 0;
}

.editor-wrapper {
    align-self: center;
}

.date-wrapper {
    white-space: nowrap;
}

.line {
    flex-basis: 1rem;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;

    .border-angle {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 1rem;
        border-left: 1px solid $translucent-color;
        border-bottom: 1px solid $translucent-color;
    }

    .border-line {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: calc(100% - 1rem);
        border-left: 1px solid $translucent-color;
        ///border-bottom: 1px solid $todo-color;
    }
}