<div class="task-wrapper" 
[class.editor-active]="this.editorActive"
[class.selected]="this.selected"
[class]="this.task.status"
(click)="this.keyboardService.isCtrlPressed() ? selectTask(): activateEditorOnTask()" 
draggable="true"
(dragstart)="onDragStart($event)" 
(dragend)="onDragEnd($event)"
>
    <div class="drag-handle big">
        ⋮
    </div>
    <div *ngIf="this.task.status === 'todo'" class="status big" (click)="toggleTaskStatus()">☐</div>
    <div *ngIf="this.task.status === 'completed'" class="status big" (click)="toggleTaskStatus()">☑</div>

    <div class="NgxEditor__Wrapper" 
>
        <ng-container *ngIf="editorActive">
            <ng-container *ngIf="editor">
                <ngx-editor-floating-menu [editor]="editor"></ngx-editor-floating-menu>
                <!--<ngx-editor-menu [editor]="editor"> </ngx-editor-menu>-->
                <ngx-editor 
                #editorElement
                [editor]="editor" 
                [(ngModel)]="task.textContent" 
                (ngModelChange)="editorChange($event)"
                [disabled]="false" 
                [placeholder]="'Type here...'"
                ></ngx-editor>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="!editorActive">
            <div [innerHTML]="task.textContent">
            </div>
        </ng-container>
    </div>

</div>
<div class="task-children-wrapper">
    <task *ngFor="let child of this.task.children" [task]="child" [board]="this.board" [lane]="this.lane"></task>
</div>    
