<!-- <ai-advisor *ngIf="board" [board]="board"></ai-advisor> -->
<main class="main flex" ondragover="event.preventDefault()">
  <div class="column-1 flex column">
    <board *ngIf="board && board.layout !== 'absolute'" [board]="board"></board>
    <board *ngIf="board && board.layout === 'absolute'" [board]="board" [droppable]="10" [container]="board" [executeOnDropReceived]="receiveDrop.bind(this)"></board>

    <div class="bottom-bar flex g-1">
      <keyboard-listener></keyboard-listener>
    </div>
  </div>
  <board-selection-menu class="column-2 flex"></board-selection-menu>
</main>
<welcome-wizard-manager *ngIf="!isStatusPresent()"></welcome-wizard-manager>
<modal *ngIf="displayModal"></modal>
<click></click>
<update-checker></update-checker>
s
