@import "../assets/variables";

main {
    padding: $main-padding;
    width: calc(100vw - 2 * $main-padding);
    height: calc(100vh - 2 * $main-padding);
}
.bottom-bar{
    width: calc(100% - 2 * $main-padding);
}