@import "../assets/variables";

main {
    // padding: $main-padding;
    //width: 100vw;
    //height: 100vh;
    //width: calc(100vw - 2 * $main-padding);
    //height: calc(100vh - 2 * $main-padding);
    max-width: 100%;
    min-height: 100vh;
    width: 100%;
    //height: 100vh;
    position: relative;
    align-items: stretch;

    .column-1 {
        flex-grow: 1;
    }
}

.bottom-bar {
    padding: $board-padding;
}