@import "../../assets/variables";
@import "../../assets/mixins";
:host{
    position: absolute;
    left: 100%;
    top:0;
    z-index: 110;
    isolation: isolate;
    opacity: 1!important;
}
.notes{
    @include lane-style;
    min-width: 40rem;
}