@import "../../assets/variables";

.bars {
    width: $time-bar-width;
    // overflow: hidden;
    // height: 1rem;
}

.bar {
    height: $time-bars-height;

    &:first-child {
        border-top-left-radius: $time-bars-border-radius;
        border-bottom-left-radius: $time-bars-border-radius;
    }

    &:last-child {
        border-top-right-radius: $time-bars-border-radius;
        border-bottom-right-radius: $time-bars-border-radius;
    }
}