@use "sass:map";

@import "../../assets/variables";
@import "../../assets/mixins";

:host {
    position: relative;
    flex-grow: 1;
    //height: 100vh;
    //width: 100vw;
    padding: $board-padding;
    display: flex;
    gap: 1rem;
    z-index: 5;

    min-height: calc(100vh - 2 * $board-padding);

    &.absolute {
        min-width: calc(100% - 2 * $board-padding);
    }

    &:not(.absolute) {
        height: unset !important;
    }
}

.absolute-toolbars-container {
    position: absolute;
    right: $board-padding;
    top: $board-padding;

}

.toolbars-container {
    z-index: 110;
}

gantt-button,
.search {
    @include lane-style($lane-padding);
}