@import "../../assets/variables";
:host{
    position: relative;
    display: inline-flex;
    //flex-direction: column;
    // width: 100vw;
    //height: 100vh;
    //padding: 2rem;
    outline: 1px solid grey;
    outline-offset: -1px;
}