@import "../../assets/variables";

:host {
    position: relative;
    flex-grow: 1;
    //height: 100vh;
    //width: 100vw;
    padding: $board-padding;
    display: flex;
    gap: 1rem;
    z-index: 5;

    min-height: 300px;

    &.absolute {
        min-width: calc(100% - 2 * $board-padding);
    }

    &:not(.absolute) {
        height: unset !important;


    }
}