<span class="pointer p-1" (click)="open=!open" [class]="!open ? 'chevron-left' : 'chevron-right'"></span>


<div class="flex column g-1" *ngIf="open">
    <div *ngFor="let board of boards" class="board-selection flex column">
        <div [class.translucent]="!this.boardService.isSelected(board)" class="priorities flex justify-content-end">
            <ng-container *ngFor="let priority of availablePriorities">
                <ng-container *ngIf="boardService.getTasksHavingPriorityCount$(board,priority) | async as taskCount; else elses">
                    <div *ngIf="taskCount > 0" class="flex-child priority-{{priority}} flex column align-items-center">
                        <div>{{taskCount}}</div>
                        <div>●</div>
                    </div>
                </ng-container>
                <ng-template #elses>
                    <div class="flex-child selectable flex column align-items-center">
                        <div>&nbsp;</div>
                        <div>●</div>
                    </div>
                </ng-template>
            </ng-container>

        </div>

        <button (click)="selectBoard(board)" class="board-selection available-board" [class.active]="this.boardService.isSelected(board)" [innerHTML]="board.textContent">
        </button>
    </div>


    <button (click)="addBoard()" class="add-board m-t-1">
        Add board +
    </button>
</div>