@use "sass:map";
// OPACITIES
$lane-opacity: 0.8;
$very-translucent-opacity: 0.05;
$translucent-opacity: 0.3;
$half-translucent-opacity: 0.75;
$gantt-external-task-opacity: 0.5;
// END OPACITIES

// COLORS
$colors: (
    dark-gray-1-muted: hsl(240, 6%, 7%),
    dark-gray-2-muted: hsl(228, 10%, 10%),
    dark-gray-3-muted: hsl(180, 11%, 15%),

    bluish-dark-gray: hsl(222, 46%, 11%),
    bluish-gray: hsl(224, 24%, 27%),

    bluish-dark-gray-muted: hsl(222, 21%, 11%),
    reddish-dark-gray-muted: hsl(300, 15%, 11%),
    yellowish-dark-gray-muted: hsla(41, 20%, 11%),

    white: #ffffff,
    black: black,

    green: hsl(115, 80%, 55%),
    yellow: hsl(54, 80%, 55%),
    red: hsl(0, 80%, 55%),
    orange: hsl(24, 80%, 55%),
    blue: hsl(207, 80%, 55%),
    violet: hsl(315, 80%, 55%),

    darker-green: hsl(115, 80%, 37%),

    pink-pastel: hsl(293, 100%, 78%),
    orange-pastel: hsl(24, 100%, 62%),
    red-pastel: hsl(0, 100%, 70%),

    yellow-pastel: hsl(54, 78%, 70%),
    violet-pastel: hsl(229, 70%, 70%),
    lighter-orange-pastel: hsl(22, 78%, 70%),
    blue-pastel: hsl(226, 78%, 70%),
    light-blue-pastel: hsl(197, 78%, 70%),
    lighter-blue-pastel: hsl(167, 78%, 70%),
    green-pastel: hsl(113, 78%, 70%),
);
// END COLORS
$fonts: (
    font-family: 'JetBrains Mono',
    font-size: 10px,
    small-font-size: 0.9rem,
    chart-labels-font-size: 9px
);

$semantic-colors: (
    text-color: map.get($colors, white),
    translucent-color: rgba(map.get($colors, white), $translucent-opacity),
    half-translucent-color: rgba(map.get($colors, white), $half-translucent-opacity),

    background-color: map.get($colors, dark-gray-2-muted),

    todo: map.get($colors, white),
    in-progress: map.get($colors, yellow-pastel),
    delegated: map.get($colors, lighter-blue-pastel),
    waiting: map.get($colors, light-blue-pastel),
    to-be-delegated: map.get($colors, violet-pastel),
    completed: map.get($colors, green),

    priority-0: map.get($colors, blue),
    priority-1: map.get($colors, green),
    priority-2: map.get($colors, yellow),
    priority-3: map.get($colors, orange),
    priority-4: map.get($colors, red),

    almost-there: map.get($colors, blue),
    just-passed: map.get($colors, green),

    pill-1: map.get($colors, pink-pastel),
    pill-2: map.get($colors, blue-pastel),

    lane-title-color: map.get($colors, violet),
    lane-non-static-background-color: rgba(map.get($colors, bluish-dark-gray), $lane-opacity),
    lane-static-background-color: rgba(map.get($colors, bluish-dark-gray-muted), $lane-opacity),
    lane-archive-background-color: rgba(map.get($colors, yellowish-dark-gray-muted), $lane-opacity),
    lane-recurrences-background-color: rgba(map.get($colors, reddish-dark-gray-muted), $lane-opacity),
    static-lane-outline-color: rgba(map.get($colors, white), 0.1),

    editor-active-background: rgba(map.get($colors, black), 0.4),

    tag-orange: map.get($colors, pink-pastel),
    tag-yellow: map.get($colors, orange-pastel),
    tag-green: map.get($colors, red-pastel),

    danger-color: map.get($colors, red),
    warning-color: map.get($colors, yellow),

    gantt-background-color: transparent,
    gantt-modal-background-color: rgba(map.get($colors, bluish-dark-gray), $lane-opacity),
    gantt-background-hover-color: rgba(map.get($colors, yellowish-dark-gray-muted), $lane-opacity),
    gantt-border-color: rgba(map.get($colors, white), 0.1),
    gantt-text-color: map.get($colors, white),
    gantt-weekend-color: rgba(map.get($colors, yellowish-dark-gray-muted), $lane-opacity),
    gantt-link-color: map.get($colors, orange-pastel),
    gantt-task-color: rgba(map.get($colors, violet), 0.6),
    gantt-external-task-color: rgba(map.get($colors, violet), 0.15),
    gantt-project-color: rgba(map.get($colors, darker-green), 0.3),
    gantt-progress-color: rgba(map.get($colors, violet), 1),

    scrollbar-color: map.get($colors, bluish-gray),

    board-selection-menu-background-color: map.get($colors, dark-gray-1-muted),

    picker-active-color: map.get($colors, pink-pastel),
);

$spacer-multiplier: 1;
$title-size: 1.2rem;
$big-font-size: 1.4rem;
$small-font-size: map.get($fonts, small-font-size), ;

$border-radius: calc(map.get($fonts, font-size)/2);
$lane-padding-y: 0.75rem;
$lane-padding-x: 1rem;
$min-width: 20rem;
$max-lane-width: 35vw;
$child-line-width: 1rem;
$board-selection-menu-width: 5rem;
$board-padding: 1rem;
$time-bar-width: 10rem;
$time-bars-height: 0.5rem;
$time-bars-border-radius: 0.2rem;
$button-padding: 0.2rem 1rem;

$task-y-padding: calc(map.get($fonts, font-size)/4);

$background-color: map.get($colors, dark-gray-2-muted);

$modal-backdrop-color: rgba(black, $translucent-opacity );
$ai-background-color: map.get($colors, dark-gray-3-muted);

$lane-padding: $lane-padding-y $lane-padding-x;
$board-charts-height: 20rem;