$background-color: #161a24;
$static-background-color: #241624;
$text-color: #ffffff;
$font-size: 12px;

$main-padding:2rem;

$translucent-opacity: 0.3;
$translucent-color: rgba($text-color, $translucent-opacity);

$editor-active-background:rgba(0, 0, 0, 0.4);
$selected-background:$text-color;

$completed-color:rgb(18, 187, 2);
$danger-color:rgb(255, 0, 0);
$tag-color: rgb(255, 145, 0);
$lane-title-color:rgb(255, 0, 191);

$min-width: 20rem;
$child-line-width: 1rem;