$background-color: #161a24;
$text-color: #ffffff;
$font-size: 16px;

$border-color: rgba($text-color, 0.3);

$editor-active-background:black;
$selected-background:$text-color;

$completed-color:rgb(18, 187, 2);

$min-width: 20rem;
$child-line-width: 1rem;