<ng-template #step1>
    <div class="title flex align-items-center justify-content-center g-1">
        <logo></logo>
        <h1>
            Welcome to trep-tracker
        </h1>
        <h3>{{version}}</h3>

    </div>
    <div class="body">
        <h2 class="text-align-center">
            Choose an existing status file, or create a new one:
        </h2>
        <div *ngIf="isElectron" class="buttons flex justify-content-center g-1">
            <button (click)="openStatusFile()">
                Choose existing status file
            </button>
            <button (click)="createNewStatusFile()">
                Create a new status file
            </button>
        </div>
        <div *ngIf="!isElectron" class="buttons flex justify-content-center  g-1">
            <button (click)="document.querySelector('#status-chooser').click()">
                Choose existing status file
            </button>
            <button (click)="createNewStatusFile()">
                Create a new status file
            </button>
            <input id="status-chooser" type="file" #fileInput (change)="openStatusFile($event)" accept=".trptrk" hidden>
        </div>
    </div>
</ng-template>
<ng-template #step2>
    <div class="title flex align-items-center justify-content-center g-1">
        <logo></logo>
        <h1>
            Status file selected! You're good to go.
        </h1>
    </div>
    <div class="body">
        <p class="text-align-center">
            All set!
        </p>
        <div class="buttons flex justify-content-center">
            <button (click)="closeModal()">
                Let's start tracking
            </button>
        </div>
    </div>
</ng-template>
<ng-template #step3>
    test2
</ng-template>