@import 'assets/jetbrains-mono.scss';

$background-color: #161a24;
$text-color: #ffffff;
$font-size:16px;
html{
    background-color: $background-color;
    color: $text-color;
    font-family: 'JetBrains Mono';
    font-size: $font-size
    

}
body{
    margin: 0;
    padding: 0;
    font-size: $font-size;
    padding:2rem
}

.floating-label{
    position: absolute;
    top: 100%;
    margin: 0;
    opacity: 50%;
    font-size: 75%;
}
.floating-label.board-floating-label{
    top: calc(100% + 1rem);
}



.fixed-bottom{
    position: fixed;
    bottom: 0;
}