<input [selectMode]="'range'" [ngModel]="selectedMoments" [owlDateTime]="date_range_component" style="width: 0px!important;">
<span #trigger [owlDateTimeTrigger]="date_range_component"></span>
<owl-date-time [startAt]="getStartAt()" [endAt]="getEndAt()" #date_range_component (confirmSelectedChange)="setButtonClicked($event)" (cancelClicked)="cancelClicked()" (dateSelected)="selectedTimeframe = undefined;">
    <ng-template *ngIf="showTimeframes" #header>
        <ng-container *ngTemplateOutlet="timeframe"></ng-container>
    </ng-template>
    <ng-template *ngIf="showRecurrences" #footer>
        <ng-container *ngTemplateOutlet="recurrence"></ng-container>
    </ng-template>
</owl-date-time>

<ng-template #recurrence>
    <div class="owl-dt-container-info  owl-dt-container-row">
        <span class="owl-dt-container-recurrence">
            <span class="owl-dt-container-info-label">
                Recurrence
            </span>
            <span class="owl-dt-container-recurrence-values" role="radiogroup">
                <label *ngFor="let recurrenceValue of recurrenceValues" class="recurrence-option">
                    <input type="radio" name="selectedRecurrence" [value]="recurrenceValue" [(ngModel)]="selectedRecurrence">
                    {{recurrenceValue}}
                </label>
            </span>
        </span>
    </div>
</ng-template>

<ng-template #timeframe>
    <div class="owl-dt-container-info  owl-dt-container-row">
        <span class="owl-dt-container-recurrence">
            <span class="owl-dt-container-info-label">
                Timeframe
            </span>
            <span class="owl-dt-container-recurrence-values" role="radiogroup">
                <label *ngFor="let timeframeValue of timeframeValues" class="recurrence-option">
                    <input type="radio" name="selectedRecurrence" [value]="timeframeValue" [(ngModel)]="selectedTimeframe" #unselector unselector>
                    {{timeframeValue}}
                </label>
            </span>
        </span>
    </div>
    <div class="owl-dt-container-info  owl-dt-container-row">
        or
    </div>
</ng-template>